<div class="text">
                <h3>{{deal}}</h3>
                <h2>{{product.title}}</h2>
                <p>{{product.description}}</p>
                <a href="#">{{priceall.price}} руб &gt;</a>
            </div>