
{% load static %}
<div class="header">
                <a class="logo" href="#"><img src="{% static "backet/img/logo.png" %}" alt="logo"></a>
                <ul class="menu">
                    <li><a class="active-menu" href="#">HOME</a></li>
                    <li><a class="menu_hover" href="#">PRODUCTS</a></li>
                    <li><a class="menu_hover" href="#">HISTORY</a></li>
                    <li><a class="menu_hover" href="#">SHOWROOM</a></li>
                    <li><a class="menu_hover" href="#">CONTACT</a></li>
                    <li><a href="#"><img src="{% static "backet/img/search.svg"  %}"
                    alt="search"></a></li>
                </ul>
</div>

      