<div class="plitka2_text">
                    <h3>{{deal}}</h3>
                    <h2>{{product.title}}</h2>
                    <p>{{product.description}}</p>
                    <a href="#">{{priceall}} руб &gt;</a>
                </div>