<!DOCTYPE html>
{% load static i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href={% static "/backet/style.css" %}>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700" rel="stylesheet">
</head>

<body>
    {# {% include 'backet/includes/test.html' with product=products.0 %} #}
    <div class="container">
        <div class="content">
            <div class="slider padding-site">
            {% include "backet/includes/header.html" with home=1 %}
            {% with product=object_list.0 %}
            {% include "backet/includes/big_block.html" with priceall=product.prices.all.0 deal='TRENDING' %}
            {% endwith %}
            <div class="circle-box">
                <a href="#" class="circle"></a>
                <a href="#" class="circle circle-active"></a>
                <a href="#" class="circle"></a>
            </div>
        </div>
        <div class="shapka1">
            <ul>
                <li><a class="shapka1_active" href="#">Featured</a></li>
                <li><a class="shapka1_non_active" href="#">New</a></li>
            </ul>
            <a class="shapka1_right_text" href="#">explore all &gt;</a>
        </div>
        <div class="plitka1">
            <div class="plitka1_element">
                <img src={% static "backet/img/plitka1_block1.jpg" %} alt="product-1">
                <div class="plitka1_text">
                    <a href="#">&gt;</a>
                    <h3>Fishnet Chair</h3>
                    <p>Seat and back with upholstery made of cold cure foam</p>

                </div>
            </div>
            <div class="plitka1_element">
                <img src={% static "backet/img/plitka1_block2.jpg" %} alt="product-1">
                <div class="plitka1_text">
                    <a href="#">&gt;</a>
                    <h3>Fishnet Chair</h3>
                    <p>Seat and back with upholstery made of cold cure foam</p>

                </div>
            </div>
            <div class="plitka1_element">
                <img src={% static "backet/img/plitka1_block3.jpg" %} alt="product-1">
                <div class="plitka1_text">
                    <a href="#">&gt;</a>
                    <h3>Fishnet Chair</h3>
                    <p>Seat and back with upholstery made of cold cure foam</p>

                </div>
            </div>
            <div class="plitka1_element">
                <img src={% static "backet/img/plitka1_block4.jpg" %} alt="product-1">
                <div class="plitka1_text">
                    <a href="#">&gt;</a>
                    <h3>Fishnet Chair</h3>
                    <p>Seat and back with upholstery made of cold cure foam</p>

                </div>
            </div>
        </div>
        <div class="plitka2">
            <div class="plitka2_block1">
                {% with product=object_list.1 %}
                {% include "backet/includes/middle_block.html" with priceall=product.prices.all.0 deal='exclusive' %}
                {% endwith %}
            </div>
            <div class="plitka2_block2">
                {% with product=object_list.2 %}
                {% include "backet/includes/middle_block.html" with priceall=product.prices.all.0 deal='exclusive' %}
                {% endwith %}
            </div>
        </div>
        <div class="shapka1">
            <ul>
                <li>
                    <p class="shapka1_text" href="#">Trending Products</p>
                </li>
            </ul>
            <a class="shapka1_right_text" href="#">explore all &gt;</a>
        </div>
        <div class="plitka3 padding-site">
            <a class="plitka3_element" href="#"><img src={% static "backet/img/product-11.jpg" %} alt=""></a>
            <a class="plitka3_element" href="#"><img src={% static "backet/img/product-12.jpg" %} alt=""></a>
            <a class="plitka3_element" href="#"><img src={% static "backet/img/product-13.jpg" %} alt=""></a>
            <a class="plitka3_element" href="#"><img src={% static "backet/img/product-14.jpg" %} alt=""></a>
            <a class="plitka3_element" href="#"><img src={% static "backet/img/product-15.jpg" %} alt=""></a>
            <a class="plitka3_element" href="#"><img src={% static "backet/img/product-16.jpg" %} alt=""></a>
        </div>
        <div class="slider2 padding-site">
            {% with product=object_list.3 %}
            {% include "backet/includes/big_block.html" with priceall=product.prices.all.0 deal='Hot deal' %}
            {% endwith %}           
            <div class="circle-box">
                <a href="#" class="circle"></a>
                <a href="#" class="circle circle-active"></a>
                <a href="#" class="circle"></a>
            </div>
        </div>
        <div class="plitka4 padding-site">
            <div class="plitka4_block1">
                {% with product=object_list.4 %}
                {% include "backet/includes/middle_block.html" with priceall=product.prices.all.0 deal='exclusive' %}
                {% endwith %}
            </div>
            <div class="plitka4_block2">
                <a href="#"><img src={% static "backet/img/product-2-sm.jpg" %} alt="product-2-sm"></a>
                <a href="#"><img src={% static "backet/img/product-3-sm.jpg" %} alt="product-2-sm"></a>
                <a href="#"><img src={% static "backet/img/product-4-sm.jpg" %} alt="product-2-sm"></a>
                <a href="#"><img src={% static "backet/img/product-5-sm.jpg" %} alt="product-2-sm"></a>
            </div>
        </div>
        <div class="mobail-app padding-site">
            <div class="text2">
                <h3>mobile app</h3>
                <h2>Find. Follow. Favorite.</h2>
                <p>Save your favorites and share your style.</p>
                <a href="#"><img src={% static "backet/img/app-store.png" %} alt=""></a>
                <a href="#"><img src={% static "backet/img/google-play.png" %} alt=""></a>
            </div>
        </div>
        </div>
        <div class="footer padding-site">
            <div class="footer-up">
                <div class="contact">
                    <h3>Contact Us</h3>
                    <p>{{contacts.0.adress}} <br> <br>Talk to us on {{contacts.0.phone}} {{contacts.0.emaile}}</p>
                </div>
                <div class="info">
                    <h3>Useful Information</h3>
                    <div class="info-text">
                        <p>Sales terms<br>Customer care<br>Delivery</p>
                        <p>Architect accounts<br>Careers<br>Exchanges &amp; returns</p>
                    </div>
                </div>
                <div class="touch">
                    <h3>Let’s Stay in Touch!</h3>
                    <p>Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                    <div class="email-in">
                        <input type="email" placeholder="your email address">
                    </div>
                    
                </div>
            </div>
            <div class="footer-down">
                <div class="rights">
                    <h4>&copy; Copyright - INTERIOR 2016. All Rights Reserved </h4>
                </div>
                <div class="sm"></div>
                <div class="terms"><h4>Terms &amp; Conditions  /  Privacy policy &amp; Cookies</h4></div>
            </div>
        </div>
    </div>

</body>

</html>
