* {
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.container {
    width: 1366px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
}
.slider {
    height: 800px;
    background-image: url(img/slider-img.jpg);
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 63px;
}

.menu {
    display: flex;
    margin-top: 57px;
    margin-bottom: 2px;
}

.menu li {
    list-style-type: none;
}

.menu a {
    display: block;
    padding: 10px 13px;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-align: right;
    text-decoration: none;

}

.menu .active-menu {
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.menu .menu_hover:hover {
    color: #212121;
    padding-bottom: 11px;
    border-bottom: 1px solid #212121;
}

.menu .active-menu a:hover {
    border-bottom: 3px solid #212121;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.menu img {
    height: 23px;
}

.menu li:last-child:hover {
    text-decoration: none;
}

.text {
    padding-top: 283px;
}

.text h3 {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    margin-bottom: 22px;
}

.text h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 44px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 34px;
    letter-spacing: -2px;
}

.text p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    line-height: 1.71;
    width: 458px;
    margin-bottom: 32px;
}

.text a {
    display: block;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    border-radius: 22.5px;
    width: 212px;
    height: 45px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}

.text a:hover {
    box-shadow: 0px 0px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    position: relative;
    top: 2px;
}

.text a:active {
    background-color: #EAEAEA;
}

.circle-box {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    bottom: 19px;
    width: 1180px;
}

.circle-box .circle {
    display: block;
    border-radius: 50%;
    background-color: rgba(33, 33, 33, 0.2);
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.circle-box .circle:hover {
    background-color: #212121;
}

.circle-box .circle-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
}

.shapka1 {
    display: flex;
    justify-content: space-between;
    padding-left: 98px;
    padding-right: 98px;
    vertical-align: bottom;
}

.shapka1 ul {
    display: flex;
    height: 70px;
    margin-top: 120px;

}

.shapka1 li {
    display: block;
    list-style-type: none;
    vertical-align: bottom;
}

.shapka1 a {
    text-decoration: none;
}

.shapka1 .shapka1_non_active {
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    padding: 2px 22px 24px 3px;
    border-bottom: 1px solid #6c6c6c;
}

.shapka1 .shapka1_non_active:hover {
    color: #212121;
    border-bottom: 1px solid #212121;
}

.shapka1 .shapka1_active {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    border-bottom: 3px solid #212121;
    padding: 2px 22px 22px 3px;
}

.shapka1 .shapka1_right_text {
    display: block;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 138px;
    letter-spacing: 2px;
}

.shapka1_right_text:hover {
    border-bottom: 1px solid #212121;
}

.plitka1 {
    display: flex;
    padding: 50px 98px 0px 98px;
    justify-content: space-between
}

.plitka1_element {
    position: relative;
}

.plitka1 .plitka1_text {
    position: absolute;
    left: 0;
    top: 0;
    border-width: 1px;
    border-color: #9c9c9c;
    border-style: solid;
    background-color: #ffffff;
    opacity: 0.9;
    width: 270px;
    height: 270px;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
    display: none;
}

.plitka1 .plitka1_text a:hover {
    position: relative;
    top: 2px;
    box-shadow: 0px 0px 4.85px 0.15px rgba(33, 33, 33, 0.35);
}

.plitka1_element:hover .plitka1_text {
    display: block;
}

.plitka1_text a {
    margin: 0 auto;
    margin-top: 62px;
    display: block;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 48px;
    height: 48px;
    color: black;
    line-height: 48px;
    font-size: 29px;
}

.plitka1 .block-2 {
    background-image: url(img/plitka1_block2.jpg);
}

.plitka1 .block-3 {
    background-image: url(img/plitka1_block3.jpg);
}

.plitka1 .block-4 {
    background-image: url(img/plitka1_block4.jpg);
}

.plitka1 a {
    text-decoration: none;
    text-align: center;
}

.plitka1 a:hover {
    outline: 1px solid #6c6c6c;
}

.plitka1 h2 {
    text-align: center;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 48px;
    height: 48px;
    color: #212121;

}

.plitka1 h3 {
    color: #212121;
    font-size: 21.91px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;

}

.plitka1 p {
    display: block;
    color: #6c6c6c;
    font-size: 13.94px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    width: 210px;
}

.plitka2 {
    margin-top: 120px;
    display: flex;
}

.plitka2_block1 {
    background-image: url(img/plitka2-block1.jpg);
    width: 683px;
    height: 683px;

}

.plitka2 .plitka2_text {
    padding-left: 52px;
}

.plitka2 h3 {

    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 15px;
    text-align: left;
    text-transform: uppercase;
    padding-top: 228px;
    margin-bottom: 18px;
}

.plitka2 h2 {

    color: #212121;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    line-height: 32px;
    letter-spacing: -1.5px;
    margin-bottom: 24px;
}

.plitka2 p {

    width: 374px;
    color: #6c6c6c;
    font-size: 13.99px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    margin-bottom: 34px;
}

.plitka2_text a {
    display: block;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    border-radius: 22.5px;
    width: 212px;
    height: 46px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 46px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}

.plitka2_text a:hover {
    box-shadow: 0px 0px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    position: relative;
    top: 2px;
}

.plitka2_text a:active {
    background-color: #EAEAEA;
}

.plitka2_block2 {
    background-image: url(img/plitka2-block2.jpg);
    width: 683px;
    height: 683px;
}

.shapka1 .shapka1_text {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    padding: 2px 22px 22px 3px;
}

.plitka3 {
    display: flex;
    margin-top: 32px;
    padding-bottom: 0px;
    justify-content: space-between;
    flex-wrap: wrap;

}

.plitka3 a {
    display: block;
    width: 370px;
    height: 370px;
}

.plitka3 a:hover {
    outline: 1px solid #6c6c6c;
}

.plitka3_element {
    margin-bottom: 30px;
}

.padding-top {
    margin-top: 90px;
}

.slider2 {
    height: 800px;
    background-image: url(img/slider2.jpg);
    position: relative;
    margin-top: 90px;
}

.slider2 h3 {
    font-family: Montserrat;
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    text-transform: uppercase;
}

.slider2 p {
    font-family: Montserrat;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    word-spacing: -1px;
}

.plitka4 {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}

.plitka4_block1 {
    background-image: url(img/product-slider4.jpg);
    width: 570px;
    height: 570px;

}

.plitka4 .plitka2_text {
    padding-left: 52px;
}

.plitka4 h3 {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 15px;
    text-align: left;
    text-transform: uppercase;
    padding-top: 186px;
    margin-bottom: 18px;
}

.plitka4 h2 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    line-height: 32px;
    letter-spacing: -1.5px;
    margin-bottom: 24px;
}

.plitka4 p {
    width: 360px;
    color: #6c6c6c;
    font-size: 13.99px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    margin-bottom: 34px;
    word-spacing: -2px;
}

.plitka2_text a:hover {
    box-shadow: 0px 0px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    position: relative;
    top: 2px;
}

.plitka2_text a:active {
    background-color: #EAEAEA;
}

.plitka4_block2 {
    width: 570px;
    height: 570px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}

.plitka4_block2 a {
    display: block;
    height: 270px;
    width: 270px;
}

.plitka4_block2 a:hover {
    outline: 1px solid #212121;
}

.mobail-app {
    margin-top: 120px;
    height: 516px;
    background-image: url(img/back-img.jpg);
}

.text2 {
    padding-top: 125px;
}

.mobail-app h3 {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.mobail-app h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-align: left;
    width: 470px;
    margin-bottom: 21px;
}

.mobail-app p {
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    margin-bottom: 33px;
}

.mobail-app img {
    padding-right: 10px;
}

.footer {
    height: 384px;
    background-color: #f7f7f7;
    position: relative;
}

.footer-up {
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
}

.footer h3 {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 14px;
    text-align: left;
    padding-bottom: 20px;
    text-transform: uppercase;
    word-spacing: 3px;
}

.footer p {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
}

.rights h4 {
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;
}

.terms h4 {
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-align: right;
    text-transform: uppercase;
}

.contact {
    width: 300px;
    height: 140px;
    padding-right: 80px;
}

.info {
    width: 422px;
    padding-right: 80px;
    flex-wrap: wrap;
}

.info-text {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    word-spacing: 3px;
}

.info p {
    display: block;
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
}

.touch p {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
}

.touch {
    width: 363px;
}

.touch p {
    padding-bottom: 22px;
}
.email-in input{
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    border-width: 1px;
    border-color: #d9dee1;
    border-style: solid;
    background-color: #ffffff;
    width: 368px;
    height: 46px;
    padding-left: 19px;
    
    
}

.footer-down {
    display: flex;
    padding-top: 60px;
    padding-bottom: 30px;
    

}

.rights {
    width: 520px;
}

.sm {
    width: 130px;
    height: 28px;
    background: #212121;

}

.terms {
    width: 520px;
}
